.generalPageWrapper {
    /* aesthetics */
    /* background-color: transparent;
    border-color: black;
    border-style: solid; */
    border-width: 2px;
    height: 100vh;
    background-color: #191C23;

    /* grid settings */
    display: grid;
    grid-template:
        minmax(5%, 1fr) minmax(80%, 90%) minmax(5%, 1fr) / minmax(5%, 1fr) minmax(80%, 90%) minmax(5%, 1fr);
    justify-items: center;
    align-items: center;
}

nav ul.navbar-nav, li.nav-item {
    color: #191C23;
} 

body {
    color: #8A96A3;
    background-color: #191C23;
}

.cardLayoutWrapper {
    /* aesthetics */
    /* border-color: black;
    border-style: solid;
    border-width: 2px; */
    text-align: center;

    /* self grid settings */
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 100%;

    /* nested grid */
    display: grid;
    grid-template:
        1fr 1fr / 1fr 1fr;
    grid-template-areas:
        "card1 card2"
        "card3 card4";
    grid-gap: 1rem;
}

/* Cards */
.flip-card {
    justify-self: center;
    align-self: center;
    background-color: transparent;
   
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
    color: black;
    z-index: 2;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
}

.avatarStyling {
    width: 80%;
    height: 80%;
}

/*Footer Styling*/
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #343C3F;
}
a {
    color: #191C23;
    text-decoration: none;
}

/*Login Page Styling*/
div.username label {
    width: 6rem;

}
div.username {
    width: 100%;
    text-align: center;
}
div.password {
    width: 100%;
    text-align: center;
}

div.password label {
    width: 6rem;
}

input, label {
    display: block;
}

/*headers*/
h1 {
    margin-top: 4rem;
}

h3 {
    margin-top: 1rem;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */


/* position the cards */

#card1 {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#card3 {
    grid-area: card3;
}

#card4 {
    grid-area: card4;
}