 /* leaderboard page */

 body, html {
    color: #8A96A3;
    background-color: #191C23;
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    height: 100%
}

 .outerGrid {
    display: grid;
    grid-template:
    ". . ."       minmax(10%,1fr)
    ". body ."    minmax(50%, 80%)
    ". . ."       minmax(10%,1fr) / minmax(1.2rem, 1fr) minmax(auto, 70%) minmax(1.2rem, 1fr);
 }

 #leaderboard {
    grid-column-start: 2;
    grid-row-start: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .leftJustified {
    align-self: flex-start;
 }

 #thing {
    color: white;
 }
 
 .title {
    font-size: 4rem;
 }